{% extends 'base.html.twig' %}

{% block body %}
    <div id="accordion">
        {% include 'home/faq/_question.html.twig' with {
            number: 2,
            question: "Can I edit my job offer?",
            answer: "No, job offer can't be updated after you post it however it can be removed and added once again."
        } only %}
        {% include 'home/faq/_question.html.twig' with {
            number: 3,
            question: "How often can I post new job offers?",
            answer: "Job offer can't be post more frequently than once per day."
        } only %}
    </div>
{% endblock %}