{% extends '@theme/base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <section class="jumbotron text-center bg-white">
        <div class="container mt-5 mb-2">
            <h1 class="jumbotron-heading">Recruiter Facebook Connect</h1>
            <p class="lead text-muted">
                Please login using your Facebook account.
            </p>
            <p>
                <a href="{{ facebook_login_url }}" class="btn btn-primary my-2"><i class="fab fa-facebook-f"></i> Connect</a>
            </p>

            <h4 class="mt-5">What data do we need and how we are going to use it?</h4>

            <ul class="list-unstyled mt-3">
                <li>We are not going to use your Facebook Account to post job offers. </li>
                <li>In order to create recruiter account we just need <code>email</code> and <code>user id</code> from Facebook or LinkedIn.</li>
                <li>LinkedIn and Facebook does not give us any more rights than reading <code>email</code> and <code>user id</code>.</li>
                <li>Our source code is open and fully transparent <a href="https://github.com/itoffers-online/portal/" target="_blank">https://github.com/itoffers-online/portal/</a></li>
                <li>If you decide to login, selected Social Platform will explain you exactly scope of permissions our system needs.</li>
                <li><a href="mailto:{{ contact_email }}">{{ contact_email }}</a> we are here to help you!</li>
            </ul>
        </div>
    </section>
    <div class="container">
        <hr />
    </div>
</div>
{% endblock %}