{% extends 'base.html.twig' %}

{% block body %}
<div class="album py-5 bg-light">
    <div class="row">
        {% if specializations.has('php') %}
            {% include 'home/index/specialization.html.twig' with {specialization: specializations.get('php')} only %}
        {% else %}
            {% include 'home/index/not_ready.html.twig' with {'name': 'PHP Developer'} only %}
        {% endif %}
        {% if specializations.has('js') %}
            {% include 'home/index/specialization.html.twig' with {specialization: specializations.get('js')} only %}
        {% else %}
            {% include 'home/index/not_ready.html.twig' with {'name': 'JS Developer'} only %}
        {% endif %}
        {% if specializations.has('devops') %}
            {% include 'home/index/specialization.html.twig' with {specialization: specializations.get('devops')} only %}
        {% else %}
            {% include 'home/index/not_ready.html.twig' with {'name': 'Devops Engineer'} only %}
        {% endif %}
    </div>
</div>
{% endblock %}