<!doctype html>
<html>
<head>
    <meta charset="UTF-8" />
    <title>{% block title %}Hire in Social!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
</head>
<body class="bg-light">

{{ render(controller('HireInSocial\\UserInterface\\Symfony\\Controller\\LayoutController::navbarAction')) }}

<div class="container">
    <div class="py-5 text-center">
        <h2><a href="{{ url('home') }}">Hire in Social!</a></h2>
        <p class="lead">
            Inicjatywa stworzona przez programistów dla programistów (i nie tylko)!
        </p>
        <p>
            Ten prosty system ma na celu automatyzację procesu dodawania ofert pracy na portalu społecznościowym Facebook.
        </p>
    </div>
    {% block body %}{% endblock %}
    <footer class="pt-4 my-md-5 pt-md-5 border-top">
        <div class="row">
            <div class="col-6 col-md">
            </div>
            <div class="col-6 col-md">
            </div>
            <div class="col-6 col-md">
            </div>
        </div>
    </footer>
</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
<script>
    window.fbAsyncInit = function() {
        FB.init({
            appId      : '{{ facebook.app_id }}',
            xfbml      : true,
            version    : 'v3.1'
        });

        FB.AppEvents.logPageView();
    };
    (function(d, s, id){
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {return;}
        js = d.createElement(s); js.id = id;
        js.src = "https://connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));

    $(function () {
        $('[data-toggle="tooltip"]').tooltip()
    })
</script>
{% block javascripts %}
{% endblock %}
</body>
</html>
