{% extends '@offers/base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <section class="jumbotron text-center bg-white">
        <div class="container mt-5 mb-2">
            <h1 class="jumbotron-heading">Recruiter Facebook Connect</h1>
            <p class="lead text-muted">
                Please login using your Facebook account.
            </p>
            <p>
                <a href="{{ facebook_login_url }}" class="btn btn-primary my-2"><i class="fab fa-facebook-f"></i> Connect</a>
            </p>
            <p class="small text-muted mt-5">
                Don't worry, we are not going to use your Facebook Account to post job offers. <br/>
                We just want to make sure
                you are a real person, not a bot.
            </p>
        </div>
    </section>
    <div class="container">
        <hr />
    </div>
</div>
{% endblock %}