Vagrant.configure(2) do |config|

  config.vm.define :itoffers do |itoffers|
    itoffers.vm.box = "bento/ubuntu-18.04"
    itoffers.vm.network :private_network, ip: "10.0.0.200"
    itoffers.vm.network "forwarded_port", guest: 80, host: 80
    itoffers.vm.network "forwarded_port", guest: 443, host: 443
    itoffers.ssh.forward_agent = true


    itoffers.vm.provider :virtualbox do |v|
      v.gui = false
      v.name = "itoffers.online"
      v.memory = 4096
      v.cpus = 2
    end

    itoffers.vm.provider :vmware_fusion do |v|
      v.gui = false
      v.vmx["memsize"] = "4096"
      v.vmx["numvcpus"] = "2"
    end

    itoffers.vm.provider :parallels do |v|
      v.memory = 4096
      v.name = "itoffers.online"
      v.cpus = 2
    end

    itoffers.vm.synced_folder ".", "/vagrant", disabled: true
    itoffers.vm.synced_folder "../", "/var/www/itoffers", id: "itoffers", type: "nfs"

    itoffers.vm.provision "ansible_local" do |ansible|
      ansible.provisioning_path = "/var/www/itoffers/ansible"
      ansible.galaxy_role_file = "/var/www/itoffers/ansible/vagrant/requirements.yml"
      ansible.galaxy_roles_path = "/var/www/itoffers/ansible/vagrant/roles/provision"
      ansible.playbook = "/var/www/itoffers/ansible/vagrant/playbook.yml"
      ansible.version = "2.5.1"
      ansible.install_mode = "pip"
      ansible.galaxy_command = "ansible-galaxy install --role-file=%{role_file} --roles-path=%{roles_path}"
    end

    $script = <<-SCRIPT
      cp /etc/ssl/ca.crt /var/www/itoffers/ssl/
      chmod 0644 /etc/ssl/itoffers.local.*
    SCRIPT

    itoffers.vm.provision "shell", inline: $script
  end
end