ENV['VAGRANT_DEFAULT_PROVIDER'] = 'virtualbox'

Vagrant.configure(2) do |config|

  config.vm.define :hireinsocial, primary: true do |hireinsocial|
    hireinsocial.vm.box = "bento/ubuntu-18.04"
    hireinsocial.vm.network :private_network, ip: "10.0.0.200"
    hireinsocial.ssh.forward_agent = true

    hireinsocial.vm.provider :virtualbox do |v|
      v.gui = false
      v.name = "hireinsocial"
      v.memory = 2048
      v.cpus = 2
    end

    hireinsocial.vm.synced_folder ".", "/vagrant", disabled: true
    hireinsocial.vm.synced_folder "../", "/var/www/hireinsocial", id: "hireinsocial", type: "nfs"

    hireinsocial.vm.provision "ansible_local" do |ansible|
      ansible.galaxy_role_file = "/var/www/hireinsocial/ansible/vagrant/requirements.yml"
      ansible.galaxy_roles_path = "/var/www/hireinsocial/ansible/vagrant/roles/provision"
      ansible.playbook = "/var/www/hireinsocial/ansible/vagrant/playbook.yml"
      ansible.version = "2.5.4"
      ansible.install_mode = "pip"
      ansible.galaxy_command = "ansible-galaxy install --role-file=%{role_file} --roles-path=%{roles_path}"
    end

    $script = <<-SCRIPT
      cp /etc/ssl/ca.crt /var/www/hireinsocial/ssl/
      chmod 0644 /etc/ssl/hireinsocial.local.*
    SCRIPT

    hireinsocial.vm.provision "shell", inline: $script
  end
end