{% extends '@theme/base.html.twig' %}

{% block body %}
<div class="container-fluid">
    <section class="jumbotron text-center bg-white">
        <div class="container mt-5 mb-2">
            <h1 class="jumbotron-heading">Error {{ status_code }}</h1>
            <p class="lead text-muted">
                Our monitoring system already notified most qualified interns to look into this <strong class="text-blue">ASAP!</strong>
            </p>
            <p>
                <a href="{{ url('home') }}" class="btn btn-primary my-2"> Go back to homepage</a>
            </p>
            <p class="small text-muted mt-5">
                Don't worry, it's temporary.
            </p>
        </div>
    </section>
    <div class="container">
        <hr />
    </div>
</div>
{% endblock %}