{% extends '@offers/base.html.twig' %}

{% block body %}
    <div class="container-fluid">
        <section class="jumbotron text-center bg-white">
            <div class="container mt-5 mb-2">
                <h1 class="jumbotron-heading">Posting new offers is currently unavailable.</h1>
                <p class="lead text-muted">
                    This feature was temporally disabled, please try again later.
                </p>
                <p>
                    <a href="{{ url('home') }}" class="btn btn-primary my-2">Back</a>
                </p>
            </div>
        </section>
        <div class="container">
            <hr />
        </div>
    </div>
{% endblock %}