<div class="container-fluid bg-light border-bottom">
    <div class="container">
        <header>
            {% for headerSpec in headerSpecializations %}
                <a class="btn btn-sqr p-3 pl-4 pr-4" href="{{ url('specialization_offers', {specSlug: headerSpec.slug}) }}">
                    <small>
                        {% include '@offers/specialization/_name.html.twig' with {specialization: headerSpec.slug} only %}
                    </small>
                </a>
            {% endfor %}
        </header>
    </div>
</div>