<div class="container-fluid bg-light border-bottom d-none d-md-block">
    <div class="container">
        <header class="text-center text-lg-left">
            {% for slug in specializationSlugs %}
                <a class="btn btn-sqr p-lg-3 pl-lg-4 pr-lg-4" href="{{ url('specialization_offers', {specSlug: slug}) }}">
                    <small>
                        {% include '@offers/specialization/_name.html.twig' with {specialization: slug} only %}
                    </small>
                </a>
            {% endfor %}
        </header>
    </div>
</div>