{% extends '@notifications/email/base.html.twig' %}

{% block body %}
    <div class="text-center">
        <h1 class="font-weight-bold">
            {{ amount }} extra offer auto renews received!
        </h1>

        <p>
            You received extra offer auto renews, you can now assign {{ amount }} auto renews to your job offers.
        </p>
        <p>
            This feature lets you extend the lifetime of you offer up to <strong>2 times!</strong>
        </p>
        <p>
            Just please remember that offer auto renews will expire in next {{ expiresInDays }} days.
        </p>
    </div>
{% endblock %}