<?xml version="1.0" encoding="UTF-8"?>

<!-- https://phpunit.de/manual/current/en/appendixes.configuration.html -->
<phpunit xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:noNamespaceSchemaLocation="http://schema.phpunit.de/4.8/phpunit.xsd"
         backupGlobals="false"
         colors="true"
         bootstrap="tests/bootstrap.php"
>

    <php>
        <ini name="error_reporting" value="-1" />
    </php>

    <filter>
        <whitelist>
            <directory>./src/ITOffers/Offers/Application</directory>
            <directory>./src/ITOffers/Offers/Common</directory>
        </whitelist>
    </filter>

    <testsuites>
        <testsuite name="functional">
            <directory>tests/App/Tests</directory>
        </testsuite>
        <testsuite name="integration">
            <directory>tests/ITOffers/Tests/Offers/Application/Integration</directory>
        </testsuite>
        <testsuite name="unit">
            <directory>tests/ITOffers/Tests/Offers/Application/Unit</directory>
            <directory>tests/ITOffers/Tests/Offers/Infrastructure/Unit</directory>
        </testsuite>
    </testsuites>
</phpunit>