{% extends '@offers/base.html.twig' %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="offset-2 col-lg-8">
                <div class="alert alert-warning text-center" role="alert">
                    <h4 class="alert-heading">Your account is blocked</h4>
                    <p class="mb-0">You can't post new job offers</p>
                </div>
            </div>
        </div>
    </div>
{% endblock %}