{% extends '@offers/base.html.twig' %}

{% block body %}
<div class="container">
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 id="candidate" class="mt-4 mb-4"><a href="#candidate">Candidate</a></h2>
            <img src="assets/img/how-it-works/candidate.jpg" style="width:90%" alt="How it works for candidate"/>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12 text-center">
            <h2 id="recruiter" class="mt-4 mb-4"><a href="#recruiter">Recruiter</a></h2>
            <img src="assets/img/how-it-works/recruiter.jpg" style="width:90%"  alt="How it works for recruiter"/>
        </div>
    </div>
</div>
{% endblock %}