{
  "timeout": 10,
  "source": {
    "directories": [
      "src/HireInSocial/Offers/Application",
      "src/HireInSocial/Offers/Common"
    ]
  },
  "logs": {
    "text": "var/logs/infection.log"
  },
  "mutators": {
    "@default": true
  },
  "testFramework":"phpunit",
  "bootstrap":"./tests/bootstrap.php"
}