includes:
    - vendor/phpstan/phpstan-phpunit/extension.neon
    - vendor/phpstan/phpstan-phpunit/rules.neon
    - vendor/phpstan/phpstan-doctrine/extension.neon
    - vendor/phpstan/phpstan-webmozart-assert/extension.neon
    - vendor/phpstan/phpstan-symfony/extension.neon
parameters:
    level: 6
    paths:
        - src
        - tests
        - bin
    checkMissingIterableValueType: false
    checkGenericClassInNonGenericObjectType: false
    autoload_files:
        - tests/bootstrap.php

    ignoreErrors:
        -
            message: '#Method (.*)::getPrivatePropertyValue()#'
            path: src/HireInSocial/Common/PrivateFields.php
        -
            message: '#Method (.*)::setPrivatePropertyValue()#'
            path: src/HireInSocial/Common/PrivateFields.php